:root {
    --prime: #912727;
    --light: #efefef;
    --dark: #363636;

    --grey1: grey;
    --grey2: lightgrey;
}

body {
    margin: 0;
    color: var(--dark);
    background-color: var(--grey2)
}

nav {
    display: flex;
    color: var(--light);
    background-color: var(--prime);

    & a {
        position: relative;
        margin: 10px;
        color: inherit;
        background-color: inherit;

        &:first-child {
            margin-right: auto;
        }
    }
}


footer {
    min-height: 20px;
}

a {
    text-decoration: none
}

a:hover,
button:hover {
    text-decoration: underline;
    cursor: pointer;
}