.editor-wrapper {
  max-width: 800px;
  margin-top: 20px;
  margin-inline: auto;
  padding-inline: 5px;
}

.head-margin {
  padding: 5px;
  border-radius: 10px 10px 0 0;
  background-color: var(--grey1);

  & form {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;

    & input {
      grid-column: span 2;
      box-sizing: border-box;
      padding: 5px;
      font-size: 1rem;
    }

    & button[type=submit] {
      justify-self: right;
    }
  }

  & button[type=submit],
  & a {
    all: unset;
    color: var(--grey2);
    font-family: monospace;
  }
}