.editor-wrapper {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 20px;
    padding-inline: 5px;
}

.head-margin {
    background-color: var(--grey1);
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-margin button[type=submit],
.head-margin a {
    all: unset;
    color: var(--grey2);
    font-family: monospace;
}

.head-margin button[type=submit]:hover,
.head-margin a:hover {
    cursor: pointer;
    text-decoration: underline;
}