.size-restrictor {
  max-width: 800px;
  margin-top: 20px;
  margin-inline: auto;
  padding-inline: 5px;
}

.head-margin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  color: var(--grey2);
  background-color: var(--grey1);

  & a {
    color: inherit;
  }

  & span {
    display: flex;
    gap: .25em;
  }

  & form {
    display: inline-flex;
    align-items: center;
  }
}

.comments {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--light);
}

.reply-section ul {
  margin: 0;
  list-style: none;
}

.comment,
.comment-form {
  margin-top: 10px;
}

.comment-content {
  margin: 0px;
}

.background-area {
  padding: 10px;
  border-radius: 3px 10px 10px 10px;
  background-color: var(--grey1);
}

.comment-user-tag {
  color: var(--dark);
}

.comment-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 1rem;
  gap: 5px;
}

.reply-button {
  all: unset;
}

.flag-form button {
  all: unset;
  display: flex;
  height: 1.2rem;

  &:hover {
    filter: brightness(75%);
  }
}

.comment-form {
  padding: 5px;
  border-radius: 3px 10px 10px 10px;
  background-color: var(--grey1);

  & label {
    display: none;
  }

  & textarea {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px 10px 3px 10px;
    color: var(--dark);
    background-color: var(--light);
    resize: vertical;
  }
}

.reply-section .comment-form {
  margin-left: 40px;
}

.comment-form-buttons {
  width: fit-content;
  margin-left: auto;

  & button {
    background-color: unset;
    border: none;
    font-size: inherit;
    font-family: inherit;
    margin-left: 5px;
    color: var(--light);
  }
}

.load-replies-button {
  all: unset;
  display: block;
  margin: 0 auto;
  color: var(--dark);
  cursor: pointer;
}


.load-more-comments-button {
  all: unset;
  display: block;
  cursor: pointer;
  margin-inline: auto;
}