.size-restrictor {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 20px;
    padding-inline: 5px;
}

.head-margin {
    background-color: var(--grey1);
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey2);
}

.head-margin a {
    text-decoration: none;
    color: inherit;
}

.head-margin a:hover {
    text-decoration: underline;
}


.comments {
    color: var(--light);
    list-style: none;
    margin: 0;
    padding: 0
}

.reply-section ul {
    list-style: none;
    margin: 0;
}

.comment,
.comment-form {
    margin-top: 10px;
}

.comment-content {
    margin: 0px;
}

.background-area {
    background-color: var(--grey1);
    border-radius: 3px 10px 10px 10px;
    padding: 10px;
}

.comment-user-tag {
    color: var(--dark);
}

.reply-button {
    all: unset;
    display: block;
    margin-left: auto;
}

.reply-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-form {
    background-color: var(--grey1);
    padding: 5px;
    border-radius: 3px 10px 10px 10px;
}

.reply-section .comment-form {
    margin-left: 40px;
}

.comment-form label {
    display: none;
}

.comment-form textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px 10px 3px 10px;
    height: 80px;
    padding: 5px;
    background-color: var(--light);
    color: var(--dark)
}

.comment-form-buttons {
    margin-left: auto;
    width: fit-content;
}

.comment-form-buttons button {
    all: unset;
    color: var(--light);
    margin-left: 5px;
}

.comment-form-buttons button:hover {
    text-decoration: underline;
}

.load-replies-button {
    all: unset;
    display: block;
    margin: 0 auto;
    color: var(--dark);
    cursor: pointer;
}

.load-replies-button:hover {
    text-decoration: underline;
}

.comment-user-tag {
    text-decoration: none;
}

.comment-user-tag:hover {
    text-decoration: underline;
}

.load-more-comments-button {
    all: unset;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

.load-more-comments-button:hover {
    text-decoration: underline;
}

.flag-comment-form {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    background-color: var(--grey1);
    padding: 3px;
    margin-left: 5px;
}

.flag-comment-form button {
    all: unset;
    color: var(--prime);
}

.flag-comment-form button:hover {
    text-decoration: underline;
}