.editor-wrapper {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 20px;
}

.powered-by {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.powered-by button[type=submit],
.powered-by a {
    all: unset;
}

.powered-by button[type=submit]:hover,
.powered-by a:hover {
    cursor: pointer;
    text-decoration: underline;
}