{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Blogs
      {% endblock %}
    </title>
    <script src="{% static '/vendor/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}

    {% endblock %}
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      {% if user.is_authenticated %}
        <a href="/accounts/profile">Profile</a>
        <a href="/accounts/logout">Logout</a>
      {% else %}
        <a href="/accounts/login">Login</a>
        <a href="/accounts/create_account">Create Account</a>
      {% endif %}
    </nav>

    <main>
      {% block main %}

      {% endblock %}
    </main>

    <footer></footer>
  </body>
</html>
