.post-editor {
    display: grid;
    grid-template-columns: min(calc(100% - 300px), 800px) 300px;
    gap: 5px;
}

.post-banner-panel,
.post-element-panel {
    border: 1px solid gray;
    width: min(800px, 100%);
    min-height: 100px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.col-right {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.col-right details {
    border: 1px solid gray;
}

.col-right details summary {
    padding: 10px;
}

.col-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.col-right li {
    margin: 0;
    background-color: grey;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

.col-right li label {
    margin-right: auto;
}

.col-right li:nth-child(even) {
    background-color: lightgray;
}

.element {
    outline: none;
    border-bottom: 1px dashed grey;
    white-space: pre-wrap;
    box-sizing: border-box;
    resize: none;
    margin: 0;
    position: relative;
}

.element.dragging-over {
    --indicator-height: 5px;
    margin-bottom: var(--indicator-height);
}

.element.dragging-over::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--indicator-height);
    border: 3px solid skyblue;
    bottom: -5px;
    box-sizing: border-box;
}

.element.focused {
    outline: 2px solid skyblue;
}

.preview.preview .element {
    border: none;
    outline: none;
    margin: 0;
}

.preview .element.dragging-over::after {
    display: none;
}